.button__record {
    border-radius: 100%;
    padding: 2rem;
    background: red;
    cursor: pointer;
    outline: none;
    border: none;
    margin: 1rem;
}

.button__record.recording {
    animation: blinker 2s linear infinite;
}


@keyframes blinker {
    50% {
        opacity: 0;
    }
}